/*/////////////////////////////////////////////ATTETION : This block of code is taken from: https://www.w3schools.com/howto/howto_css_switch.asp////////*/
/* The switch - the box around the slider */
.toggle {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
  }
  /* Hide default HTML checkbox */
  .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, hsl(210, 78%, 56%),hsl(146, 68%, 55%));
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: #242A41;
    -webkit-transition: .4s;
    transition: .4s;
  }
  input:checked + .slider {
    background-color: #2196F3;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 20px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
/*///////////////////////////////////////////////////////////////END OF EXTERNAL CODE/////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////LIGHT THEME /////////////////////////////////////////////////////////////////////////*/
body.light div.topBackground,
body.light span.slider:before{

  background-color: #F4F7FF;
}
body.light section.container{

  background: #ffffff;
}
body.light div.all-followers-item,
body.light div.today-followers-item{

  background-color: #F0F2F9;
  text-decoration-color: #62687D;
}
body.light div.all-followers-item:hover,
body.light div.today-followers-item:hover{

  background-color: #E1E3F0;
  cursor: pointer;
}
body.light p.dashboard-start__text,
body.light p.dashboard-start__toggle--text,
body.light p.all-followers__text,
body.light p.all-followers__text--two,
body.light h1.today__title,
body.light p.today-followers__title{

  color: #62687D;
}
body.light h1.dashboard-start__title,
body.light p.all-followers__text--title,
body.light p.today-followes-number,
body.light footer{

  color: #000000;
}
/*///////////////////////////////////////////////////////////////END LIGHT THEME ///////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////////////////////////////////////DARK THEME /////////////////////////////////////////////////////////////////////////*/
body{

  text-align: center;
}
.dashboard-start,
.all-followers,
.today__title,
.today-followers{

  font-family: inter;
}
.dashboard-start__title,
.dashboard-start__toggle--text,
.all-followers__text--title, 
.today-followes-number,
.today__title{

  color: #ffffff;
}
.dashboard-start__text,
.all-followers__text,
.all-followers__text--two,
.today-followers__title{

  color:#8b97c6;
}
.dashboard-start__text,
.dashboard-start__toggle--text,
.today-followers__title{

  font-size: 14px;
  font-weight: 600;
}
.all-followers-item:nth-of-type(1),
.all-followers-item:nth-of-type(2){

  border-top: 4px solid #00BFFF;
}
.all-followers-item:hover,
.today-followers-item:hover{

  background-color: #333A56;
  cursor: pointer;
}
.increase,
.decrease{

  font-size: 12px;
  font-weight: 600;
}
.container{

  background-color: #1D1F29;
  margin: 0 auto;
}
.topBackground{

  height: 250px;
  width: 100vw;
  background-color: #1E202D;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  z-index: 1;
}
.icon{

  height: 20px;
  width: 20px;
}
.dashboard-start{

  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  z-index: 2;
}
.dashboard-start__title{

  margin: 20px 0 5px 0;
}
.dashboard-start__text{

  margin: 0px;
}
.dashboard-start__toggle{

  display: flex;
  align-items: center;
}
.dashboard-start__toggle--text{

  padding-right: 10px;
}
.all-followers{

  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.all-followers-item{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 255px;
  height: 215px;
  background-color: hsl(228, 28%, 20%);
  border-radius: 10px;
}
.all-followers-item:nth-of-type(3){

  border-top: 4px solid #FCC368;
}
.all-followers-item:nth-of-type(4){

  border-top: 4px solid #C30229;
}
.all-followers-item__account{

  display: flex;
  align-items: center;
}
.all-followers__text{

  font-size: 12px;
  font-weight: 700;
  margin-left: 10px;
}
.all-followers__text--title{

  margin: 10px 0 0 0;
  font-size: 54px;
  font-weight: 700;
}
.all-followers__text--two{

  font-size: 12px;
  letter-spacing: 5px;
  font-weight: 400;
  margin-top: 10px;
}
.today__title{

  display: flex;
  margin: 20px 0 0 0;
  font-size: 24px;
}
.today-followers{

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.today-followers-container{

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.today-followers-item{

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 256px;
  height: 100px;
  background-color: #242A41;
  border-radius: 10px;
  padding: 10px 0px;
}
.today-followers__title{

  margin: 0px;
}
.today-followers-item .icon{

  margin-bottom: 30px;
}
.today-followes-number{

  font-size: 32px;
  font-weight: 700;
  margin-bottom: 0;
}
.increase{

  display: flex;
  align-items: center;
  margin-top: 10px;
  color: #1db489;
}
.increase__icon{

  margin: 6px 2px 0 0;
  height: 10px;
  width: 10px;
  background-image: url(../images/icon-up.svg);
  background-repeat: no-repeat;
}
.increase__text{

  margin: 0;
}
.decrease{

  display: flex;
  margin-top: 10px;
  color: #dc414c;
}
.decrease__icon{

  margin: 6px 2px 0 0;
  height: 10px;
  width: 10px;
  background-image: url(../images/icon-down.svg);
  background-repeat: no-repeat;
}
.decrease__text{

  margin: 0;
}
.today-followers-item .increase{

  margin: 10px 0 0 0;
}
.today-followers-item .decrease{

  margin: 10px 0 0 0;
}
.attribution{

  display: flex;
}
/*///////////////////////////////////////////////////////////////END DARK THEME ///////////////////////////////////////////////////////////////////////*/
