/*ATTETION : This block of code is taken from: https://www.w3schools.com/howto/howto_css_switch.asp*/
/* The switch - the box around the slider */
.toggle {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 20px;
  }
  
  /* Hide default HTML checkbox */
  .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 20px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
/*End of the external code*/   
.dashboard-start__title,
.all-followers__text--title, 
.today-followes-number,
.today__title{

  color: #ffffff;
}
.dashboard-start__text,
.dashboard-start__toggle--text,
.all-followers__text,
.all-followers__text--two,
.today-followers__title{

  color:#8b97c6;
}
.container{

  background: linear-gradient(to top, hsl(230, 17%, 14%) 40%,hsl(232, 19%, 15%));
}
.icon{

  height: 20px;
  width: 22px;
}
.dashboard-start{

  display: flex;
  justify-content: space-between;
}
.dashboard-start__title{

  margin: 0px;
}
.dashboard-start__toggle{

  display: flex;
  align-items: center;
}
.all-followers{

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.all-followers-item{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 215px;
  height: 255px;
  background-color: hsl(228, 28%, 20%);
  border-radius: 10px;
  padding: 0 18px 0 18px;
}
.today__title{

  display: flex;
  margin: 0px;
}
.today-followers{

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.today-followers-container{

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.today-followers-item{

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 256px;
  height: 100px;
  background-color: hsl(228, 28%, 20%);
  border-radius: 10px;
  padding: 10px 0px;
}
.today-followers__title{

  margin-top: 0px;
}
.today-followers-item .icon{

  margin-bottom: 30px;
}
.increase{

  display: flex;
  margin-bottom: 10px;
  color: #1db489;
}
.increase__text{

  margin: 0;
}
.decrease{

  display: flex;
  margin-bottom: 10px;
  color: #dc414c;
}
.decrease__text{

  margin: 0;
}
.attribution{

  display: flex;
}